.bg{
    background: url('../bg.png') 50%/contain;
    background-color: #06b563;
    height: auto;
    margin: 0 auto;
}
body {
    text-align: center;
    margin: 0;
}
img {
    display: block;
}
canvas {
    margin-top: 40px;
    /*height: 300px;*/
    /*width: 90%;*/
}
@media screen and (min-width: 768px){
    .bg{
        width: 375px;
    }
}
.border-box {
    /*background: url('../border.png') no-repeat 50%/contain;*/
    border-radius: 10px;
    background: white;
    border: 3px solid rgb(13,55,69);
    width: 60vw;
    height: 100vw;
    margin: 0 auto;
    text-align: center;

}
.title,.des {
    margin: 0 auto;
    display: block;
}
.title {
    width: 90%;
    position: relative;
    margin-top: -20px;
}
.des {
    width: 50%;
}
.logo-box {
    width: 100%;
    text-align: left;
}
.logo {
    width: 50%;
    display: block;
    position: relative;
    margin-left: -10%;
}
.item-box {
    width: 85vw;
    height: 155vw;
    background: #ffefae;
    text-align: center;
    margin: 0 auto 30px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
}
.point {
    display: block;
    margin: 7px auto;
    height: 50px;
}
.space {
    height: 1px;
}
.ma-box {
    width: 40vw;
    height: 16vw;
    margin: 0 auto ;
    background: url('../ma.png') no-repeat 50%/contain;
}
.line {
    width: 98%;
    height: 90%;
    display: block;
    margin-top: 3%;
    position: relative;
}
.btn {
    width: 60vw;
    height: 9vw;
    background: url('../btn.png') no-repeat 50%/cover;
    margin: 0;
    position: relative;
    font-size: 12px;
    line-height: 9vw;
}
.jpg {
    border-radius: 5px;
    width: 52vw;
    height: 90vw;
    position: relative;
    margin: 0 auto 0;
    top: 5vw;
    z-index: 1;
    cursor: pointer;
}
.big {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
.footer {
    width: 70%;
    margin: 0 auto;
}
.footer2 {
    width: 30%;
    margin: 0 auto;
}
.footer3 {
    width: 90%;
    margin: 30px auto 20px;
}
.play-box {
    display: flex;
    top: 12px;
    position: relative;
    justify-content: center;
}
.play {
    width: 9vw;
    height: 9vw;
    display: inline;
}
.tips {
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 5px;
    white-space: nowrap;
}